<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Lobarbon</h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link <%= @title == 'home' ? 'active' : ''%>" href="/">Home</a>
      <a class="nav-link <%= @title == 'room' ? 'active' : ''%>" href="/room">room</a>
      <a class="nav-link" href="#">Contact</a>
    </nav>
  </div>
</header>