<div class="container-f">
    <!-- github link -->
    <div class="triangle"></div>
    <a href="https://github.com/Lobarbon"><div class="github-link"></div></a>
    
    <!-- navbar -->
    <nav id="navbar" class="nav-main">
        <ul>
        <li id="li1"><a href="#1">Home&ensp;</a></li>
        <li id="li2"><a href="#2">MUSIC</a></li>
        <li id="li3"><a href="#3">About</a></li>
        <li id="li4"><a href="#4">Club</a></li>
        </ul>
    </nav>
    <!-- Circular text -->
    <div class="circular-text">
        <span id="rotated">音樂人聲．快樂人生．有你有我．沒有如果．</span>
    </div>
    <div class="arrow">
        <ion-icon name="md-arrow-down"></ion-icon>
    </div>

    <!-- praty -->
    <div class="sub-main ml-5 mb-4">
        <% @future_dates.each do |date| %>
        <% brief_hashes = @future_events.events_on_this_date(date) %>
            <h2 class="date-title mt-5"># <%==date %></h2>
            <div class="link">
                <%brief_hashes.each do |brief_hash|%>
                    <a href="">➣ <%==brief_hash[:event_name]%></a>
                <% end %>
            </div>
        <% end %>
    </div>
</div>