<% if flash[:error] %>
  <div class="alert alert-danger mb-0" id="flash_bar_danger"><%== flash[:error] %></div>
<% end %>

<% if flash[:notice] %>
  <div class="alert alert-success mb-0" id="flash_bar_success"><%== flash[:notice] %></div>
<% end %>