---
http_interactions:
- request:
    method: get
    uri: https://riversidemusiccafe.kktix.cc/events.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8948c41d57d1a3feda78aa7f6093f5be"
    body:
      encoding: UTF-8
      string: '{"title":"\u6cb3\u5cb8\u7559\u8a00\u97f3\u6a02\u85dd\u6587\u5496\u5561
        \u8fd1\u671f\u516c\u958b\u6d3b\u52d5 - KKTIX","updated":"2021-01-05T22:29:49.746+08:00","entry":[{"url":"https://riversidemusiccafe.kktix.cc/events/28dd","published":"2021-02-04T20:30:00.000+08:00","title":"Yedda
        feat. \u4e8c\u54e5 - \u7576\u6211\u5011\u4e0d\u5728\u4e00\u8d77 mini concert
        X YoChen","summary":"Yedda feat. \u4e8c\u54e5 - \u7576\u6211\u5011\u4e0d\u5728\u4e00\u8d77
        mini concert \u97f3\u6a02\u4f5c\u54c1\uff1ahttps://www.youtube.com/watch?v=syFbrulE1kA
          YoChen \u4e00\u5929\u96a8\u610f","content":"\u6642\u9593\uff1a2021/02/04
        20:30(+0800)~22:30\n\u5730\u9ede\uff1a\u516c\u9928\u6cb3\u5cb8 / \u81fa\u5317\u5e02\u4e2d\u6b63\u5340\u7f85\u65af\u798f\u8def\u4e09\u6bb5
        244 \u5df7 2 \u865f B1","author":{"name":"\u6cb3\u5cb8\u7559\u8a00\u97f3\u6a02\u85dd\u6587\u5496\u5561","uri":"https://www.riverside.com.tw/"}},{"url":"https://riversidemusiccafe.kktix.cc/events/284801s","published":"2021-01-31T20:30:00.000+08:00","title":"\u300c\u4ee5\u6eab\u67d4\u62d2\u7d55\uff01\u300d\uff1a\u6c89\u6dea\u4e16\u4ee3
        X \u9e7f\u5cf6\u723a","summary":"\u300c\u4ee5\u6eab\u67d4\u62d2\u7d55\uff01\u300d\uff1a\u6c89\u6dea\u4e16\u4ee3
        X \u9e7f\u5cf6\u723a   \u6c89\u6dea\u4e16\u4ee3 \u5728\u9019\u8f49\u6369\u9ed[...]
- request:
    method: get
    uri: https://cloud.culture.tw/frontsite/trans/SearchShowAction.do?category=5&method=doFindTypeJ
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"version":"1.4","UID":"5fe7968ad083a300681e9b08","title":"緩緩 Huan
        Huan《水可以去任何地方》發片專場","category":"5","showInfo":[{"time":"2021/01/07 00:00:00","location":"","locationName":"永豐
        Legacy Taipei","onSales":"Y","price":"","latitude":null,"longitude":null,"endTime":"2021/01/07
        00:00:00"}],"showUnit":"","discountInfo":"","descriptionFilterHtml":"","imageUrl":"","masterUnit":[],"subUnit":[],"supportUnit":[],"otherUnit":[],"webSales":"https://www.indievox.com/activity/game/21_iV0077283","sourceWebPromote":"https://www.indievox.com/activity/detail/21_iV0077283","comment":"","editModifyDate":"","sourceWebName":"iNDIEVOX","startDate":"2021/01/07","endDate":"2021/01/07","hitRate":0},{"version":"1.4","UID":"5fe7968ad083a300681e9b09","title":"《更迭》康士坦的變化球－台北場","category":"5","showInfo":[{"time":"2021/01/08
        00:00:00","location":"","locationName":"永豐 Legacy Taipei","onSales":"Y","price":"","latitude":null,"longitude":null,"endTime":"2021/01/08
        00:00:00"}],"showUnit":"","discountInfo":"","descriptionFilterHtml":"","imageUrl":"","masterUnit":[],"subUnit":[],"supportUnit":[],"otherUnit":[],"webSales":"https://www.indievox.com/activity/game/21_iV00749cd","sourceWe[...]
- request:
    method: get
    uri: https://cloud.culture.tw/frontsite/trans/do?category=5&method=doFindTypeJ
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: UTF-8
      string: "\r\n\r\n\r\n\r\n\r\n<html lang=\"zh-Hant-TW\">\r\n<head>\r\n<meta charset=\"utf-8\">\r\n<title>error
        404</title>\r\n<!-- Bootstrap -->\r\n<link href=\"/css/bootstrap.css\" rel=\"stylesheet\">\r\n<!--
        HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        -->\r\n<!-- WARNING: Respond.js doesn't work if you view the page via file://
        -->\r\n<!--[if lt IE 9]>\r\n      <script src=\"https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js\"></script>\r\n
        \     <script src=\"https://oss.maxcdn.com/respond/1.4.2/respond.min.js\"></script>\r\n
        \   <![endif]-->\r\n<style>\r\nbody { background: #f2f2f2; font-size: x-large;
        font-family: \"微軟正黑體\", Verdana }\r\n.errorbg { background: url(/frontsite/images/errorbg.png);\r\nbackground-position:
        top center; background-repeat: no-repeat; min-height: 600px; padding-top:
        250px }\r\nh1 { font-size: 500%; color: #452b2f}\r\n\r\n@media screen and
        (max-width:480px) {\r\nbody { background: #f2f2f2; font-size:large; font-family:
        \"微軟正黑體\", Verdana}\r\n.errorbg { background-size: 100%; padding-top: 140px;
        min-height:380px;}\r\nh1 { font-size: 200%; color: #452b2f}\r\n}\r\n@media
        screen and (max-width:320px) {\r\nbody { background: #f2f2f2; font-size:large;
        font-family: \"微軟正黑體\", Verdana}\r\n.errorbg { background-size: 100%; padding-top:
        100px;}\r\nh1 { font-size: 200%; color: #452b2f}\r\n}\r\n.btn{\r\n  font-size:
        80% !important;\r\n}\r\nhtml {\r\n  font-size: 100% !important;\r\n  -webkit-tap-highlight-color:
        rgba(0, 0, 0, 0);\r\n}\r\n</style>\r\n</head>\r\n\r\n<body>\r\n<div class=\"container\">\r\n
        \ <div class=\"row errorbg\">\r\n    <div class=\"col-md-6  col-md-offset-3\">\r\n
        \     <div class=\" text-center\">\r\n        <h1>Error 404</h1>\r\n        <p>SORRY
        ! PAGE  NOT FOUND</p>\r\n        <p>很抱歉您搜尋的網頁不存在! </p>\r\n        <a href=\"/\"
        class=\"btn btn-large btn-primary\" title=\"回首頁\">回首頁</a> </div>\r\n    </div>\r\n
        \ </div>\r\n</div>\r\n</body>\r\n</html>\r\n\r\n"
  recorded_at: Tue, 05 Jan 2021 14:29:51 GMT
- request:
    method: post
    uri: https://sqs.ap-northeast-1.amazonaws.com/357967711846/indie_land_test_queue
    body:
      encoding: UTF-8
      string: Action=SendMessage&MessageBody=%7B%22event_id%22%3A1%7D&QueueUrl=https%3A%2F%2Fsqs.ap-northeast-1.amazonaws.com%2F357967711846%2Findie_land_test_queue&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20210107T051729Z
      X-Amz-Content-Sha256:
      - ae880470afe9cafee884fe779e6f92fb5fd081323c4dd1be5e4b6aa7b960b840
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAVGWEJZZTKZHKQOGP/20210107/ap-northeast-1/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=3b83a124d63e1a9812f0b962a1e5f7eafcbe5ab00f5db28b7256113aaeb94967
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 06afbd71-a709-5759-8386-e5013cae8fdb
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><SendMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><SendMessageResult><MessageId>22ae8a58-ccfa-4f57-a005-2e7d7f37f6d1</MessageId><MD5OfMessageBody>be04b558e608ec907e1aa6a7d108143d</MD5OfMessageBody></SendMessageResult><ResponseMetadata><RequestId>06afbd71-a709-5759-8386-e5013cae8fdb</RequestId></ResponseMetadata></SendMessageResponse>
  recorded_at: Thu, 07 Jan 2021 05:17:29 GMT
[...]
