---
http_interactions:
- request:
    method: get
    uri: https://riversidemusiccafe.kktix.cc/events.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"81a9f7a66d465add7698ae0a2afa2ba8"
    body:
      encoding: UTF-8
      string: '{"title":"\u6cb3\u5cb8\u7559\u8a00\u97f3\u6a02\u85dd\u6587\u5496\u5561
        \u8fd1\u671f\u516c\u958b\u6d3b\u52d5 - KKTIX","updated":"2020-12-15T22:11:33.478+08:00","entry":[{"url":"https://riversidemusiccafe.kktix.cc/events/290524","published":"2021-01-27T20:30:00.000+08:00","title":"\u6bd4\u4e8c
        (\u9ec3\u5efa\u70ba)\u5e8a\u908a\u7684\u9ea5\u514b\u98a8 \u7b2c\u516d\u96c6","summary":"\u6bd4\u4e8c
        \uff08\u9ec3\u5efa\u70ba\uff09\u5e8a\u908a\u7684\u9ea5\u514b\u98a8\u7b2c\u516d\u96c6
        \u300a\u6642\u9593 timeless \u300b \u7de8\u5236\uff1a \u4e3b\u5531-\u6bd4\u4e8c
        Bodhi Huang \u9375\u76e4-\u82ac\u9054 Fanta Yuan  \u8c9d\u65af-\u514b\u5b89
        Derrick Lin \u5409\u4ed6-\u592a\u6dbc Tsa","content":"\u6642\u9593\uff1a2021/01/27
        20:30(+0800)\n\u5730\u9ede\uff1a\u6cb3\u5cb8\u7559\u8a00\u97f3\u6a02\u85dd\u6587\u5496\u5561","author":{"name":"\u6cb3\u5cb8\u7559\u8a00\u97f3\u6a02\u85dd\u6587\u5496\u5561","uri":"https://www.riverside.com.tw/"}},{"url":"https://riversidemusiccafe.kktix.cc/events/284822","published":"2021-01-23T20:30:00.000+08:00","title":"\u5e38\u5e38\u9072\u5230\uff06HUWA
        HUWA\u3010\u5728\u8edf\u7dbf\u7dbf\u7684\u65e5\u5b50\u6211\u53c8\u9072\u5230\u4e86\u3011","summary":"\u5e38\u5e38\u9072\u5230\uff06HUWA
        HUWA\u3010\u5728\u8edf\u7dbf\u7dbf\u7684\u65e5\u5b50\u6211\u53c8\u9072\u5230\u4e86\u3011
        \[...]
- request:
    method: get
    uri: https://cloud.culture.tw/frontsite/trans/SearchShowAction.do?category=5&method=doFindTypeJ
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "[{\"version\":\"1.4\",\"UID\":\"5f9bd575aaa3478b01f1ba38\",\"title\":\"Rtim《藝術是惡性循環》x
        厭愚《眾所皆知的憂鬱之人》\",\"category\":\"5\",\"showInfo\":[{\"time\":\"2020/12/18 20:30:00\",\"location\":\"台北市羅斯福路三段
        244 巷 2 號 B1\",\"locationName\":\"河岸留言音音樂藝文咖啡\",\"onSales\":\"Y\",\"price\":\"新台幣400元\",\"latitude\":\"25.0170629\",\"longitude\":\"121.5290673\",\"endTime\":\"2020/12/18
        22:30:00\"}],\"showUnit\":\"\",\"discountInfo\":\"\",\"descriptionFilterHtml\":\"Rtim《藝術是惡性循環》\\r\\n\\r\\n就讓我邀請你\\r\\n\\r\\n去感受所謂的負面\\r\\n\\r\\n試著將它表現出來\\r\\n\\r\\n同時讓我也能夠擁有它\\r\\n\\r\\n進而幻化為作品獻給你\\r\\n\\r\\n我是誰並不重要\\r\\n\\r\\n重要的是你感覺到了什麼\\r\\n\\r\\n那些都將會是藝術\\r\\n\\r\\n而藝術\\r\\n\\r\\n終究是場惡性循環\\r\\n\\r\\n\U0001F50Dhttps://linktr.ee/Rtiiim
        \                             \\r\\n\\r\\n厭愚《眾所皆知的憂鬱之人》\\r\\n\\r\\n我是厭愚\uFEFF\\r\\n\\r\\n我是一個喜歡聽每一個人的故事\uFEFF\\r\\n\\r\\n喜歡宅在家裡創作\\r\\n\\r\\n喜歡大自然\uFEFF\\r\\n\\r\\n喜歡跟大家分享人生\uFEFF\\r\\n\\r\\n一到台上就會很害羞很安靜\uFEFF\\r\\n\\r\\n陰晴不定的佛系創作者\uFEFF
        \\r\\n\\r\\n\uFEFF\U0001F50Dhttps://linktr.ee/rozacf\\r\\n\\r\\n\U0001F4C5
        日期：2020/12/18 (五)\\r\\n\\r\\n⏳ 時間：20:00進場 20:30開演\\r\\n\\r\\n\U0001F4CC 地點：公館河岸留言(台北市羅斯福路三段244巷2號B1)\\r\\n\\r\\n\U0001F3AB
        票價：400\\r\\n\\r\\n\U0001F517購票網址｜https://riversidemusiccafe.kktix.cc/events/290503\",\"imageUrl\":\"\",\"masterUnit\":[\"\"],\"subUnit\":[\"\"],\"supportUnit\":[\"\"],\"otherUnit\":[\"\"],\"webSales\":\"https://www.riverside.com.tw/events/rtim-yi-shu-shi-e-xing-xun-huan-x-yan-yu-zhong-suo-jie-zhi-de-you-yu-zhi-ren\",\"sourceWebPromote\":\"https://www.riverside.com.tw/events/rtim-yi-shu-shi-e-xing-xun-huan-x-yan-yu-zhong-suo-jie-zhi-de-you-yu-zhi-ren\",\"comment\":\"\",\"editModifyDate\":\"2020/10/30
        17:00:20\",\"sourceWebName\":\"河岸留言\",\"startDate\":\"2020/12/18\",\"endDate\":\"2020/12/18\",\"hitRate\":0},{\"version\":\"1.4\",\"UID\":\"5f9bd75faaa3478b01f1ba3a\",\"title\":\"《熊熊想唱歌》：阿嬤想唱歌x台灣黑熊\",\"category\":\"5\",\"showInfo\":[{\"time\":\"2020/12/20
        20:30:00\",\"location\":\"臺北市中正區羅斯福路三段244巷2號B1\",\"locationName\":\"河岸留言音音樂藝文咖啡\",\"onSales\":\"Y\",\"price\":\"新台幣
        350 元\",\"latitude\":\"25.0170629\",\"longitude\":\"121.5290673\",\"endTime\":\"2020/12/20
        22:30:00\"}],\"showUnit\":\"\",\"discountInfo\":\"\",\"descriptionFilterHtml\":\"《熊熊想唱歌》：阿嬤想唱歌x台灣黑熊\\r\\n\\r\\n今年冬季「阿嬤想[...]
[...]
- request:
    method: get
    uri: https://cloud.culture.tw/frontsite/trans/do?category=5&method=doFindTypeJ
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: UTF-8
      string: "\r\n\r\n\r\n\r\n\r\n<html lang=\"zh-Hant-TW\">\r\n<head>\r\n<meta charset=\"utf-8\">\r\n<title>error
        404</title>\r\n<!-- Bootstrap -->\r\n<link href=\"/css/bootstrap.css\" rel=\"stylesheet\">\r\n<!--
        HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        -->\r\n<!-- WARNING: Respond.js doesn't work if you view the page via file://
        -->\r\n<!--[if lt IE 9]>\r\n      <script src=\"https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js\"></script>\r\n
        \     <script src=\"https://oss.maxcdn.com/respond/1.4.2/respond.min.js\"></script>\r\n
        \   <![endif]-->\r\n<style>\r\nbody { background: #f2f2f2; font-size: x-large;
        font-family: \"微軟正黑體\", Verdana }\r\n.errorbg { background: url(/frontsite/images/errorbg.png);\r\nbackground-position:
        top center; background-repeat: no-repeat; min-height: 600px; padding-top:
        250px }\r\nh1 { font-size: 500%; color: #452b2f}\r\n\r\n@media screen and
        (max-width:480px) {\r\nbody { background: #f2f2f2; font-size:large; font-family:
        \"微軟正黑體\", Verdana}\r\n.errorbg { background-size: 100%; padding-top: 140px;
        min-height:380px;}\r\nh1 { font-size: 200%; color: #452b2f}\r\n}\r\n@media
        screen and (max-width:320px) {\r\nbody { background: #f2f2f2; font-size:large;
        font-family: \"微軟正黑體\", Verdana}\r\n.errorbg { background-size: 100%; padding-top:
        100px;}\r\nh1 { font-size: 200%; color: #452b2f}\r\n}\r\n.btn{\r\n  font-size:
        80% !important;\r\n}\r\nhtml {\r\n  font-size: 100% !important;\r\n  -webkit-tap-highlight-color:
        rgba(0, 0, 0, 0);\r\n}\r\n</style>\r\n</head>\r\n\r\n<body>\r\n<div class=\"container\">\r\n
        \ <div class=\"row errorbg\">\r\n    <div class=\"col-md-6  col-md-offset-3\">\r\n
        \     <div class=\" text-center\">\r\n        <h1>Error 404</h1>\r\n        <p>SORRY
        ! PAGE  NOT FOUND</p>\r\n        <p>很抱歉您搜尋的網頁不存在! </p>\r\n        <a href=\"/\"
        class=\"btn btn-large btn-primary\" title=\"回首頁\">回首頁</a> </div>\r\n    </div>\r\n
        \ </div>\r\n</div>\r\n</body>\r\n</html>\r\n\r\n"
  recorded_at: Tue, 15 Dec 2020 14:11:36 GMT
recorded_with: VCR 6.0.0
