---
http_interactions:
- request:
    method: get
    uri: https://cloud.culture.tw/frontsite/trans/SearchShowAction.do?category=5&method=doFindTypeJ
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "[{\"version\":\"1.4\",\"UID\":\"5eeb588cd083a33abc1abb9d\",\"title\":\"「手遊傳藝」聽障導覽活動報名\",\"category\":\"5\",\"showInfo\":[{\"time\":\"2020/07/06
        13:00:00\",\"location\":\"268  宜蘭縣五結鄉五濱路二段201號\",\"locationName\":\"\",\"onSales\":\"N\",\"price\":\"\",\"latitude\":null,\"longitude\":null,\"endTime\":\"2020/07/06
        13:00:00\"},{\"time\":\"2020/07/18 13:00:00\",\"location\":\"\",\"locationName\":\"\",\"onSales\":\"N\",\"price\":\"\",\"latitude\":null,\"longitude\":null,\"endTime\":\"2020/07/18
        13:00:00\"},{\"time\":\"2020/08/08 13:00:00\",\"location\":\"\",\"locationName\":\"\",\"onSales\":\"N\",\"price\":\"\",\"latitude\":null,\"longitude\":null,\"endTime\":\"2020/08/08
        13:00:00\"},{\"time\":\"2020/09/07 13:00:00\",\"location\":\"\",\"locationName\":\"\",\"onSales\":\"N\",\"price\":\"\",\"latitude\":null,\"longitude\":null,\"endTime\":\"2020/09/07
        13:00:00\"},{\"time\":\"2020/10/18 13:00:00\",\"location\":\"\",\"locationName\":\"\",\"onSales\":\"N\",\"price\":\"\",\"latitude\":null,\"longitude\":null,\"endTime\":\"2020/10/18
        13:00:00\"},{\"time\":\"2020/11/14 13:00:00\",\"location\":\"\",\"locationName\":\"\",\"onSales\":\"N\",\"price\":\"\",\"latitude\":null,\"longitude\":null,\"endTime\":\"2020/11/14
        13:00:00\"},{\"time\":\"2020/11/28 13:00:00\",\"location\":\"\",\"locationName\":\"\",\"onSales\":\"N\",\"price\":\"\",\"latitude\":null,\"longitude\":null,\"endTime\":\"2020/11/28
        13:00:00\"}],\"showUnit\":\"\",\"discountInfo\":\"\",\"descriptionFilterHtml\":\"國立傳統藝術中心\\r\\n\\r\\n「手遊傳藝」聽障導覽活動
        \\r\\n\\r\\n一、活動簡介\\r\\n\\r\\n本中心為營造友善的文化設施參觀環境，推出「手遊傳藝」聽障導覽活動，活動內容包括宜蘭園區簡介、當期展覽「憨子弟‧瘋亂彈
        臺灣北管藝術大展」導覽以及「傳統工藝手作體驗」。本次活動由聾人導覽員進行手語導覽，搭配聽人手譯員輔助說明，邀請聽障朋友一同走入北管藝術的熱鬧世界，感受臺灣北管的氣勢與魅力。\\r\\n\\r\\n(一)
        場次：109年7月6日(一)、7月18日(六)、8月8日(六)、9月7日(一)、10月18日(日)、11月14日(六)、11月28日(六)\\r\\n\\r\\n(二)
        集合地點：國立傳統藝術中心 宜蘭傳藝園區 售票口\\r\\n\\r\\n(三) 集合時間：13：00\\r\\n\\r\\n(四) 活動時間：13：00
        – 15：30\\r\\n\\r\\n(五) 對象：聽覺障礙人士、團體\\r\\n\\r\\n(六) 人數：每場次10-15位(含陪同親友、帶隊[...]
- request:
    method: get
    uri: https://cloud.culture.tw/frontsite/trans/do?category=5&method=doFindTypeJ
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: UTF-8
      string: "\r\n\r\n\r\n\r\n\r\n<html lang=\"zh-Hant-TW\">\r\n<head>\r\n<meta charset=\"utf-8\">\r\n<title>error
        404</title>\r\n<!-- Bootstrap -->\r\n<link href=\"/css/bootstrap.css\" rel=\"stylesheet\">\r\n<!--
        HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        -->\r\n<!-- WARNING: Respond.js doesn't work if you view the page via file://
        -->\r\n<!--[if lt IE 9]>\r\n      <script src=\"https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js\"></script>\r\n
        \     <script src=\"https://oss.maxcdn.com/respond/1.4.2/respond.min.js\"></script>\r\n
        \   <![endif]-->\r\n<style>\r\nbody { background: #f2f2f2; font-size: x-large;
        font-family: \"微軟正黑體\", Verdana }\r\n.errorbg { background: url(/frontsite/images/errorbg.png);\r\nbackground-position:
        top center; background-repeat: no-repeat; min-height: 600px; padding-top:
        250px }\r\nh1 { font-size: 500%; color: #452b2f}\r\n\r\n@media screen and
        (max-width:480px) {\r\nbody { background: #f2f2f2; font-size:large; font-family:
        \"微軟正黑體\", Verdana}\r\n.errorbg { background-size: 100%; padding-top: 140px;
        min-height:380px;}\r\nh1 { font-size: 200%; color: #452b2f}\r\n}\r\n@media
        screen and (max-width:320px) {\r\nbody { background: #f2f2f2; font-size:large;
        font-family: \"微軟正黑體\", Verdana}\r\n.errorbg { background-size: 100%; padding-top:
        100px;}\r\nh1 { font-size: 200%; color: #452b2f}\r\n}\r\n.btn{\r\n  font-size:
        80% !important;\r\n}\r\nhtml {\r\n  font-size: 100% !important;\r\n  -webkit-tap-highlight-color:
        rgba(0, 0, 0, 0);\r\n}\r\n</style>\r\n</head>\r\n\r\n<body>\r\n<div class=\"container\">\r\n
        \ <div class=\"row errorbg\">\r\n    <div class=\"col-md-6  col-md-offset-3\">\r\n
        \     <div class=\" text-center\">\r\n        <h1>Error 404</h1>\r\n        <p>SORRY
        ! PAGE  NOT FOUND</p>\r\n        <p>很抱歉您搜尋的網頁不存在! </p>\r\n        <a href=\"/\"
        class=\"btn btn-large btn-primary\" title=\"回首頁\">回首頁</a> </div>\r\n    </div>\r\n
        \ </div>\r\n</div>\r\n</body>\r\n</html>\r\n\r\n"
  recorded_at: Fri, 30 Oct 2020 15:28:41 GMT
recorded_with: VCR 6.0.0
